@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*Scrollbar styles*/
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px #0eab93;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #5aedd7; 
	box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
	background: #1ebba3;
}

/*---------------------------------------------------------------------*/

/*BODY STYLES*/
body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: #505962
}

/*----------------------------NAVBAR STYLES-----------------------------*/
.navbar {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background-color: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img {
	height: 2rem;
}
.navbar-nav li {
	padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
	color: white;
	padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #1ebba3;
}
.active {
	color: #1ebba3;
}
.offset:before {
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;
}
/*-----------------------------------------------------------------------*/

/*------------------------LANDING PAGE SECTION---------------------------*/
.home-inner {
	background-image: linear-gradient(to right bottom, rgba(140,34,192,0.8), rgba(45,31,220,0.8)), url(../Images/Backgrounds/Computers.png);
}
.caption {
	width: 100%;
	max-width: 100%;
	position: absolute;
	bottom: 50%;
	z-index: 1;
	color: white;
	text-transform: uppercase;
}
.caption h1 {
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}
.caption h3 {
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}

/*-------------------------------------------------------------------------*/

/*-----------------------------CATALOGUE SECTION---------------------------*/
.heading-underline {
	width: 3rem;
	height: .2em;
	background-color: #1ebba3;
	margin: 0 auto 2rem;
}
.catalogue-narrow {
	width: 80%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}
.catalogue-narrow h1 {
	font-size: 2.4rem;
}
.catalogue:hover, .catalogue:active {
	bottom:1rem;
	background-color: #1ebba3;
	box-shadow: 0 1rem 1rem 0;
	transition-duration: 1s;
}
.catalogue h3 {
	margin-top: .5rem;
	vertical-align: middle;
	font-size: auto
}
.catalogue a {
	text-decoration: none;
	color: #505962;
}


/*PROCEDURE Section*/
.narrow {
	width: 75%;
	margin: 1.5rem auto;
	padding-top: 2rem;
}
.jumbotron {
	margin-bottom: 0;
	padding: 2rem 0 3.5rem;
	border-radius: 0;
}
h3.heading {
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 1.9rem;
}
.feature svg.svg-inline--fa {
	color: #1ebba3;
}
.feature h3 {
	font-size: 1.3rem;
	text-transform: uppercase;
	padding-bottom: .4rem;
}
.feature p {
	font-size: 1.1rem;
}

/*Features Section*/
.fixed {
	background-image: url(../Images/Backgrounds/Apple.png);
	z-index: -1;
}
.dark {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	padding: 7rem 2rem;
}
.fixed-background h3 {
	margin-bottom: 2rem;
}
.fixed-background p {
	margin-top: 1.5rem;
}

/*TEAM SECTION*/

.card {
	flex: 0 0 auto;
	overflow-x: hidden;
	display: block;
	min-height:100%; 
}
.team h3, .team h4{
	color: #1ebba3;
}
.card:hover {
	bottom: 1rem;
	box-shadow: 0 1rem 1rem 0;
}
.profile-link {
	color:#40474e!important;
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
	display: auto;
}
.profile-link:hover {
  	color: #1ebba3!important;
}

/*CONTACT SECTION*/
footer {
  background-color: #40474e;
  color: white;
  padding: 2rem 0 2rem;
}
footer img {
  height: 3rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}
hr.socket {
  width: 100%;
  border-top: .2rem solide #666b71;
  margin-top: 3rem;
}

/*---------------------------Fixed Background CSS ----------------------------------------*/
/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Fix for Fixed Navbar jumping on scroll --*/
.fixed-top  {
 -webkit-backface-visibility: hidden;
}

/*--- Fixed Landing Page Section --*/
.landing {
  position: relative;
  width: 100%;
  height: 70vh;
  display: table;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 50vh, 0 100%);
}
.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}

/*--- iOS Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999!important;
}
.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}


/*----------------------------Description and Upload Page--------------------------------*/
.description {
	width: 90%;
	padding: 1rem;
	border: 5px solid #1ebba3;
	border-radius: 1rem; 
}
.description h1 {
	text-align: left;
	word-spacing: 1rem;
	color: #1ebba3;
	text-transform: uppercase;
}
.description-underline {
	width: 120%%;
	height: .2em;
	background-color: #1ebba3;
	margin: 0 auto 2rem;
}
.upload {
	padding: 1.5rem;
	width: 90%;
	border: 5px solid #1ebba3;
	border-radius: 1rem;
	max-height: 320px;
	margin-bottom: 1rem;
}
.upload h3 {
	color: #1ebba3;
}
.upload-box {
	width: 100%;
	border: 1px solid #1ebba3; 
	font-size: 20px;
	padding-top: 0px;
	text-overflow: hidden;
	overflow: hidden;
}
::-webkit-file-upload-button {
	color: white;
	background: #1ebba3;
	outline: none;
	border: 2px solid #1ebba3;
}
.submit {
	width: 100%;
	text-align: center;
	border-radius: 50px;
	border: 1px solid #1ebba3;
	background: #1ebba3;
	color: #fff;
	height: 2.5rem;
	font-size: 20px;
}
::-webkit-file-upload-button:hover, .submit:hover {
	background : #189582;
	border-color: #189582;
}
.instruction {
	padding: 1rem;
	width: 90%;
	border: 5px solid #1ebba3;
	border-radius: 1rem;
	margin-bottom: 1rem;
}
.instruction h2 {
	color: #1ebba3;
}

.about-us-description {
	width: 80%;
	margin-left: 10%;
	border: 5px solid #1ebba3;
	border-radius: 1rem;
}
.about-us-description h1, .about-us-description h3 {
	text-align: center;
	word-spacing: 1rem;
	color: #1ebba3;
	text-transform: uppercase;	
}
.about-us-description-underline {
	width: 120%;
	height: .2em;
	background-color: #1ebba3;
	margin: 0 auto 2rem;
}
.about {
	margin: 2rem;
	text-align: justify;
}
.instruction img {
	vertical-align: middle;
}
iframe {
	width: 50%;
	height: 350px;
	margin-left: 25%;
	margin-bottom: 3rem;
	border: 5px solid #1ebba3;
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem 0;
}



/*------------------------MEDIA QUERIES-----------------------------------*/
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
  .clients img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
  .catalogue-narrow h1 {
	font-size: 1.7rem;
  }
   .description h1,.about-us-description h1, .about-us-description h3 {
   	font-size: 1rem;
   	word-spacing: none;
  }
	iframe {
		margin: 5%!important;
		border: 2px solid #1ebba3!important;
		border-radius: .5rem!important;
		box-shadow: 0 .5rem .5rem 0!important;
		width: 90%!important;
		height: 280px!important;
	}
}

@media (max-width: 576px) {
	.narrow h1 {
    	font-size: .7rem!important;
	}
	.catalogue-narrow h1 {
		font-size: .7rem!important;
	}
	.description h1,.about-us-description h1, .about-us-description h3 {
   		font-size: .7rem!important;
   		word-spacing: none!important;
    }
   .upload-box {
   		font-size: .5rem!important;
	}
	iframe {
		margin: 5%;
		border: 2px solid #1ebba3;
		border-radius: .5rem;
		box-shadow: 0 .5rem .5rem 0;
		width: 95%!important;
		height: 200px!important;
	}

}