{% extends "base.html" %}
{% load static %}
{% block content %}			<!--START OF LANDING PAGE SECTION-->
	<div class="landing">
		<div class="home-wrap">
			<div class="home-inner"></div>
		</div>
	</div>

	<div class="caption text-center">
		<h1>ML Modeller</h1>
		<h3>About Us</h3>
	</div>
	<!--END OF LANDING PAGE SECTION-->
</div>
<!--END OF HOME SECTION-->

<div id="description" class="offset">
	<div class="col-12 justify-content-center">
		<div class="about-us-description">
			<h1>About Us</h1>
			<div class="description-underline"></div>
			<div class="about">
			<p>Welcome!! to the world of A.I and machine learning.</p>
			
			<p><strong>M.L. modeller</strong> is a web application. It is a no-code platform, with the purpose of helping general people train machine learning models on their datasets, just by uploading it and making predictions on the input dataset. 
			It will be useful for people doing business or caring for some research work or any kind of task that requires data analysis and making predictions. As most of these people do not know how to analyze or make predictions so that they can take decisions accordingly. Currently, they might be going through data manually, which is time-consuming and might even give false insights in most cases, which could eventually result in making bad decisions.
			Let’s look into how <strong>M.L. modeller</strong> could be helpful for some of these professions.</p>

			<ul>
				<li><strong>Teachers and people in the education system</strong></li>
					<p>ML modeller has the potential to make educators more efficient by completing tasks such as classroom management, scheduling, etc. In turn, educators are free to focus on tasks that cannot be achieved by AI, and that require a human touch.
					ML modeller in the form of learning analytics can help teachers gain insight into data that cannot be gleaned by using the human brain and give conclusions that positively impact the teaching and learning process.
					With it educators can make conclusions about things that may happen in the future. For instance, using a data set of middle school students’ cumulative records, predictive analytics can tell us which ones are more likely to drop out because of academic failure or even their predicted score on a standardized exam, such as the ACT or SAT.
					It can grade student assignments and exams more accurately than a human can. It may require some input from a human being, but the results will have higher validity and reliability.</p>

				<li><strong>Doctors and in healthcare</strong></li>
					Doctors can use ML modellers to reduce the cost of healthcare, for example uploading EMR datasets on our website and get results for specific inputs. Similarly, doctors can upload a dataset for diabetes, heart disease, pneumonia, and different types of cancer and diagnose if a person is having any of these ailments or not. 
					The ultimate goal is to improve and provide healthcare facilities at a lower cost.
					Moreover, doctors can analyze oncology data, providing insights that allow oncologists, pharmaceutical companies, payers, and providers to practice precision medicine and health. 
					Similarly, providing a dataset can predict illness and treatment to help physicians and payers intervene earlier, predict population health risk by identifying patterns and surfacing high-risk markers and model disease progression, and more.

				<li><strong>Recruiters and hiring team</strong></li>
					Recruiting a perfect candidate or fixing a payroll is often very tireless work. But if having relevant past data, then ML modeller will help you in finding the best suit for a job and with how much you should pay him or her according to your company policies.
					It would become easier to identify top candidates from large candidate pools.

				<li><strong>Real estate</strong></li>
				Since ML modeller has the ability to analyze patterns in vast amounts of data, it can be used to make reasonable predictions of the future value of a property. For example, it can combine current market data from marketplace and CRM as well as consider public information such as transportation network characteristics, crime rates, schools, and buying trends.
				The number of property attributes or market data points can exceed tens of thousands, which is definitely a kind of analysis no human analyst or market research is capable of conducting. 
				Similarly, ML modellers can help students of school and colleges with their projects, debate, home tasks, research, and much more.
			</ul>

			<p>So the list of people who can benefit from it is countless… </p>
			<p>Almost anyone with the relevant data can use ml modeller and get the required predictions with just a few clicks. Now, some of you might be thinking that how ml modeller is different than any other similar application. So, currently, there is no app which is providing the same features. Google had launched similar app- 'Teachable Machine', which only works on image and audio datasets. Our app works on images and moreover on comma-separated files(.csv) as well, containing numeric and character values. These datasets are more common, easily available, and in more use than audio datasets. (according to the current scenario). ML modeller will be based on a no-code platform, which means even a person with no coding skills can avail of benefits. Users do not require any prior machine learning knowledge. Help in decision-making for businessmen, recruiters, analysts, students, teachers, and the list continues. Less time consuming and more accurate predictions than manual analysis.</p>
			<p>Watch our- “walkthrough video”, you will learn what types of data you can upload and how to upload.</p>

			<div class="justify-content-center">
				<iframe width="50%" height="400"
					src="https://www.youtube.com/embed/jbg-Ux28cnw">
				</iframe>
			</div>

			<h3 class="text-center bold">Thank you! And happy analysis and predictions</h3>
		</div>
	</div>	
</div>
{% endblock content %}
