{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!--START OF LANDING PAGE SECTION-->
	<div class="landing">
		<div class="home-wrap">
			<div class="home-inner"></div>
		</div>
	</div>

	<div class="caption text-center">
		<h1>ML Modeller</h1>
		<h3>Support Vector Regression</h3>
	</div>
	<!--END OF LANDING PAGE SECTION-->
</div>
<!--END OF HOME SECTION-->

<div id="description" class="offset">
	<div class="col-12">
		<div class="row text-justify box">
			<div class="col-lg-4 col-md-12">
				<div class="upload">
				<form method="POST" enctype="multipart/form-data" action="."> {% csrf_token %}
						<h3>Dataset File</h3>
						<input type="file" id="datset" name="data_file" accept=".csv" required="" class="upload-box">
						<br><br>
						<h3>Input File</h3>
						<input type="file" id="input" name="input_file" accept=".csv" required="" class="upload-box">
						<br><br>
						<input type="submit" name="" value="Upload" class="submit">
					</form>
				</div>
				{% if result %}
				<div class="result instruction">
					<h2 class="text-center">Result</h2>
					<div class="description-underline"></div>
					<p></p>
					<ul>
						{% for value in result %}
							<li>{{value}}</li>
						{% endfor %}
						</ul>
				</div>
				{% endif %}
				<div class="instruction">
					<h2 class="text-center">Instructions</h2>
					<div class="description-underline text-justify"></div>
					<p><strong>1. Please upload datasets without categorical variables.</strong></p>
					<p><strong>If having categorical variables, then you can do the following:-</strong><br>
							You can either delete column consisting categorical variables,
							<strong><center>OR</strong></center><br>
							Before uploading documents, pre-processed any categorical features/columns in the dataset(.csv file), using Label encoding and one hot encoding.<strong>For example:-</strong></p>
					<div class="row">
						<img src="{% static 'Images/Instruction/sheet1.png' %}">
						<img src="{% static 'Images/Instruction/arrow.png' %}" height="30%" width="30%">
						<img src="{% static 'Images/Instruction/sheet2.png' %}">
					</div>
					<p><br><strong>2. Avoid index column in the dataset which you upload.</strong></p>
				</div>
			</div>

			<div class="col-lg-8 col-md-12">
				<div class="description">
					<h1>About Support Vector Regression</h1>
					<div class="description-underline"></div>
					<p>Support Vector Regression (SVR) is characterized by the use of kernels, sparse solution, and VC control of the margin and the number of support vectors. Although less popular than SVM, SVR has been proven to be an effective tool in real-value function estimation.</p>

					<h1>Requirements</h1>
					<div class="description-underline"></div>
					<p></p>
				
					<h1>Applications</h1>
					<div class="description-underline"></div>
					<ul>
						<li><strong>Forecasting</strong></li>
							Linear regressions can be used in business to evaluate trends and make estimates or forecasts.
						<li><strong>Analysing</strong></li>
							Linear regression can also be used to analyze the marketing effectiveness, pricing and promotions on sales of a product.
					</ul> 

					<h1>Examples</h1>
					<div class="description-underline"></div>
					<img src="{% static 'Images/Algorithms/Regression/Examples/Support Vector.png' %}" class="img-fluid">
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock content %}