{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!--START OF LANDING PAGE SECTION-->
	<div class="landing">
		<div class="home-wrap">
			<div class="home-inner"></div>
		</div>
	</div>

	<div class="caption text-center">
		<h1>ML Modeller</h1>
		<h3>Linear SVM Classification</h3>
	</div>
	<!--END OF LANDING PAGE SECTION-->
</div>
<!--END OF HOME SECTION-->

<div id="description" class="offset">
	<div class="col-12">
		<div class="row text-justify box">
			<div class="col-lg-4 col-md-12">
				<div class="upload">
					<form method="POST" enctype="multipart/form-data" action="."> {% csrf_token %}
						<h3>Dataset File</h3>
						<input type="file" id="datset" name="data_file" accept=".csv" required="" class="upload-box">
						<br><br>
						<h3>Input File</h3>
						<input type="file" id="input" name="input_file" accept=".csv" required="" class="upload-box">
						<br><br>
						<input type="submit" name="" value="Upload" class="submit">
					</form>
				</div>
				{% if result %}
				<div class="result instruction">
					<h2 class="text-center">Result</h2>
					<div class="description-underline"></div>
					<p></p>
					<ul>
						{% for value in result %}
							<li>{{value}}</li>
						{% endfor %}
						</ul>
				</div>
				{% if accuracy%}
				<div class="result instruction">
					<h2 class="text-center">Accuracy</h2>
					<div class="description-underline"></div>
					<p></p>
					<ul>
						
							<li>{{accuracy}}</li>
						
						</ul>
				</div>
				{% endif %}
				<div class="instruction">
					<h2 class="text-center">Instructions</h2>
					<div class="description-underline text-justify"></div>
					<p><strong>1. Please upload datasets without categorical variables.</strong></p>
					<p><strong>If having categorical variables, then you can do the following:-</strong><br>
							You can either delete column consisting categorical variables,
						<strong><center>OR</strong></center><br>
						Before uploading documents, pre-processed any categorical features/columns in the dataset(.csv file), using Label encoding and one hot encoding.<strong>For example:-</strong></p>
					<div class="row">
						<img src="{% static 'Images/Instruction/sheet1.png' %}">
						<img src="{% static 'Images/Instruction/arrow.png' %}" height="30%" width="30%">
						<img src="{% static 'Images/Instruction/sheet2.png' %}">
					</div>
					<p><br><strong>2. Avoid index column in the dataset which you upload.</strong></p>
				</div>
			</div>

			<div class="col-lg-8 col-md-12">
				<div class="description">
					<h1>About Linear SVM Classification</h1>
					<div class="description-underline"></div>
					<p>Linear SVM is the newest extremely fast machine learning (data mining) algorithm for solving multiclass classification problems from ultra large data sets that implements an original proprietary version of a cutting plane algorithm for designing a linear support vector machine. LinearSVM is a linearly scalable routine meaning that it creates an SVM model in a CPU time which scales linearly with the size of the training data set.</p>

					<h1>Requirements</h1>
					<div class="description-underline"></div>
					<p>If the dataset has more than two classes(dependent variables(y)) and also if data points are linearly separable. Here, we can use Linear SVM.</p>
				
					<h1>Applications</h1>
					<div class="description-underline"></div>
					<ul>
						<li><strong>Face detection</strong></li>
							SVMc classify parts of the image as a face and non-face and create a square boundary around the face.
						
						<li><strong>Classification of images</strong></li>
							Use of SVMs provides better search accuracy for image classification. It provides better accuracy in comparison to the traditional query-based searching techniques.

						<li><strong>Bioinformatics</strong></li>
							It includes protein classification and cancer classification. We use SVM for identifying the classification of genes, patients on the basis of genes and other biological problems.

						<li><strong>Handwriting recognition</strong></li>
							We use SVMs to recognize handwritten characters used widely.
					</ul> 

					<h1>Examples</h1>
					<div class="description-underline"></div>
					<img src="{% static 'Images/Algorithms/Classification/Examples/Linear SVM.png' %}" class="img-fluid">
				</div>
			</div>
		</div>
	</div>	
</div>
{% endblock content %}